/*CSS RESET*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/*Generics*/
body {
    width: 512px;
    background-color: #191D7B;
}

main {
    border: 2px solid white;
}
/*Utility*/


/*Header*/

header {
    min-height: 300px;
    background-image: url(../img/banner.png);
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Main*/

/*Section Download*/

.download {
    position: relative;
    min-height: 500px;
}

.download-sec-header {
    position: absolute;
    color: white;
    font-family: "Sigmar", sans-serif;
    top: 10%;
    left: 50%;
    translate: -50% -10%;
    text-align: center;
    line-height: 1;
}

.download-sec-par {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-weight: 500;
    top: 32%;
    position: absolute;
    left: 50%;
    translate: -50% -32%;
    text-align: center;
    width:69%;
    font-size: medium;
}

/*Buttons*/

#download-button {
    position: absolute;
    top: 51%;
    left: 50%;
    translate: -50% -51%;
    background-color: white;
    width: 65%;
    padding: 3%;
    border-radius: 10px;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: medium;

}

.open-discord-button {
    position: absolute;
    top: 65%;
    left: 50%;
    translate: -50% -65%;
    background-color: #5865F2;
    width: 65%;
    padding: 3%;
    border-radius: 10px;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: medium;
    color: white;

}