/*CSS RESET*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/*Generics*/
body {
    width: 512px;
    background-color: #191D7B;
}


/*Utility*/


/*Header*/

header {
    min-height: 300px;
    background-image: url(../img/banner.png);
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Main*/

/*Section Download*/

.download {
    position: relative;
    min-height: 400px;
}

.download-sec-header {
    position: absolute;
    color: white;
    font-family: "Sigmar", sans-serif;
    top: 15%;
    left: 50%;
    translate: -50% -15%;
    text-align: center;
    line-height: 1;
}

.download-sec-par {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-weight: 500;
    top: 43%;
    position: absolute;
    left: 50%;
    translate: -50% -43%;
    text-align: center;
    width:69%;
    font-size: medium;
}

/*Buttons*/

#download-button {
    position: absolute;
    top: 70%;
    left: 50%;
    translate: -50% -70%;
    background-color: white;
    width: 65%;
    padding: 3%;
    border-radius: 10px;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: medium;

}

.open-discord-button {
    position: absolute;
    top: 89%;
    left: 50%;
    translate: -50% -89%;
    background-color: #5865F2;
    width: 65%;
    padding: 3%;
    border-radius: 10px;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: medium;
    color: white;

}

/*Cards Section*/

.cards-template {
    position: relative;
    background-color: #5D64D1;
    border-radius: 30px;
    max-width: 470px;
    margin: 4% auto 13%;
    min-height: 600px;
    padding: 5%;
}

.card-header {
    position: absolute;
    color: white;
    font-family: "Sigmar", sans-serif;
    text-align: left;
    line-height: 1;
    top: 10%;
    font-size: xx-large;
}

.card-p {
    position: absolute;
    position: absolute;
    top: 28%;
    color: white;
    font-family: "DM Sans", sans-serif;
}

.discord-demo {
    position: absolute;
    bottom: 7%;
    border-radius: 30px;
    width: 70%;
    left: 50%;
    translate: -50% -7%;
}

.card-logo-cube {
    position: absolute;
    top: -8%;
    left: 10%;
    height: 90px;
    translate: 8% -10%;;
}